<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'layouts/sidebar', goal: @goal_new, user: current_user %>
		</div>
		<div class="col-xs-9">
			<h3 class="goal-title">獲得いいね数トップ５　-目標-</h3>
				<table class="goal_table">
			        <% @all_ranks.each.with_index(1) do |rank,i| %>
				        <tbody>
							<tr>
								<td>第<%= i %>位</td>
							    <td>　<%= attachment_image_tag rank.user, :profile_image, size: '50x50',fallback: "no-image.jpg",class: "user-icon" %></td>
							    <td><%= link_to rank.user.name,user_path(rank.user.id) %></td>
							    <td><%= link_to rank.content, goal_path(rank.id) %></td>
							    <td><% if rank.favorited_by?(current_user) %>
							    	    　いいね数：<%= link_to goal_favorites_path(rank),method: :delete do %>
					                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				                        <%= rank.favorites.count %>
				                        <% end %>
				                    <% else %>
				                        　いいね数：<%= link_to goal_favorites_path(rank),method: :post do %>
				                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
				                        <%= rank.favorites.count %>
				                        <% end %>
				                    <% end %>
							    </td>
					            <td>　　期限　<%= rank.term_at %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			<h3 class="user-title">フォロワー数トップ５　ユーザー</h3>
			    <table class="user-table">
			    	   <tbody>
			    	   	    <tr>
			    	   	    </tr>
			    	   	</tbody>
			    </table>
		</div>
	</div>
</div>