<div class="container">
	<div class="row">
	    <div class="col-xs-12">
	    	<h2 class="user-title">ユーザー一覧</h2><br>
		    <table class="user_table">
			    <% @users.each do |user| %>
		    	<tbody>
		    	  	<tr>
		    	  		<td><%= attachment_image_tag user, :profile_image, size: '75x75',fallback: "no-image.jpg",class: "user-icon" %>
		    	  		　　<%= user.name %></td>
		    	  		<td>フォロー数：<%= user.followings.count %></td>
				        <td>フォロワー数：<%= user.followers.count %></td>
				        <td><% if current_user != user %>
				            <% if user.followed_by?(current_user) %>
				              <p>　　<%=link_to "フォロー外す", user_relationships_path(user.id), method: :delete,class: "btn btn-danger" %></p>
				            <% else %>
				              <p>　　<%=link_to "フォローする", user_relationships_path(user.id), method: :post,class: "btn btn-primary" %></p>
				            <% end %>
				            <% end %></td>
					</tr>
		    	  	<tr>
		    	  		<td>　　<%= user.introduction %></td>
		    	  	</tr>
		    	</tbody>
		    	<% end %>
	    	</table>
	    	<%= paginate @users %>
	    </div>
	</div>
</div>
