<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'layouts/sidebar', goal: @goal, user: current_user %>
		</div>
	    <div class="col-xs-9">
	    	<div class="col-xs-offset-9">
            	<%= link_to "ユーザー情報を編集する",edit_user_path(@user.id),class: "btn btn-success" %>
            </div>
	    	<h2 class="user-title">会員情報</h2>
		    <table class="table1">
		    	<tbody>
		    	  	<tr>
		    	  		<td><%= attachment_image_tag @user, :profile_image, size: '60x60',fallback: "no-image.jpg",class: "user-icon" %>
		    	  		　　<%= @user.name %></td>
		    	  		<td>フォロー数：<%= link_to @user.followings.count,follows_user_path(@user.id) %></td>
				        <td>フォロワー数：<%= link_to @user.followers.count,followers_user_path(@user.id) %></td>
		    	  	</tr>
		    	  	<tr><td><%= @user.introduction %></td></tr>
		    	</tbody>
	    	</table>
	    	<h2 class="user-title"><%= @user.name %>さんの目標リスト</h2>
                <!-- projectに紐付くtaskがあるだけループする -->
                <% @user.goals.each do |goal| %>
                    <h3><%=link_to goal.content,goal_path(goal.id) %></h3>
                    <%= link_to "目標修正" ,edit_goal_path(goal.id),class: "btn-sm btn-success" %>
                    <%= link_to "削除する",goal_path(goal.id),method: :delete,"data-confirm" => "本当に削除しますか？",class: "btn-sm btn-danger" %>　　
                    <%= link_to "タスク設定",goal_path(goal.id),class: "btn-sm btn-primary" %>
	                    <% goal.tasks.each do |task| %>
	                        <div class="task">
	                        	<li>
	                        	<%= task.title %>　
		                        <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-goal_id' => task.goal_id} %>
			                    </li>
		                    </div>
	                    <% end %>
	            <% end %>
	    </div>
	</div>
</div>

<script type="text/javascript">
    $(function() {
        $("input[type=checkbox]").click(function() {
            $.post('/goals/'+$(this).data('goal_id')+'/tasks/'+$(this).data('id')+'/toggle')
        })
    })
</script>