<h3>新規目標投稿</h3><br>
<%= form_for (goal) do |f| %>
	<div class="field">
	    <%= f.label :目標 %>　　　　　　
	    <%= f.text_field :content,placeholder: "達成、挑戦したいこと" %>
	</div>
	<br>
	<%= f.submit "目標を決定する！", class: "btn btn-primary" %>
<% end %>
<br>
<h3>トップページへ</h3>
<%= link_to "topページへ",root_path %>
<h3>NEXT_STAGE<br>
    (当サイト)について</h3>
<%= link_to "NEXSTAGEとは",home_about_path %>
