<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <%= render 'layouts/sidebar', goal: @goal_new, user: current_user %>
        </div>
        <div class="col-xs-9">
            <div class="goal_box">
                <h2 class="goal-title">
                    <%= attachment_image_tag @user, :profile_image, size: '45x45',fallback: "no-image.jpg",class: "user-icon" %>
                    <%=link_to @user.name,user_path(@user.id) %>さんの目標<br>
                    <br>
                    <%= @goal.content %>
                </h2>
                <% if @goal.user_id == current_user.id %>
                        <%= link_to "◀目標編集ページへ" ,edit_goal_path(@goal.id) %>　　　
                        <%= link_to "▶目標を削除する",goal_path(@goal.id),method: :delete,"data-confirm" => "本当に削除しますか？" %>
                <% end %>
            </div>
            <h3 class="goal-title">「<%= @goal.content %>」　ために何をするか？　タスク表示</h3>
            <ul>
                <!-- projectに紐付くtaskがあるだけループする -->
            <% @goal.tasks.each do |task| %>
                <li>
                        <%= task.title %>　
                        <!-- 進捗管理用チェックボックス -->
                        <!-- idやvalueは不要なのでオプションはブランク -->
                        <!-- task.done がチェックの有無を意味する(true, false) -->
                        <!-- taskのIDとgoalのIDを属性として保持させて使えるようにする -->
                    <% if @goal.user_id == current_user.id %>
                        <%= check_box_tag '', '', task.done, {'data-id' => task.id, 'data-goal_id' => task.goal_id} %>　　
                        <!-- 削除リンク(taskのプロジェクトIDとtaskIDを取得) -->
                        <%= link_to "削除する", goal_task_path(task.goal_id, task.id), method: :delete, data: {confirm: "本当に削除しますか?"},class: "btn-sm btn-danger" %>
                    <% end %>
                </li>
            <% end %>
                <li>
                    <% if @goal.user_id == current_user.id %>
                        <%= form_for [@goal, @goal.tasks.build] do |f| %>
                        <%= f.text_field :title %>
                        <%= f.submit "タスクを設定する" %>
                        <% end %>
                    <% end %>
                </li>
            </ul>
            <h3 class="goal-title">コメント欄</h3>
            <table class="comment_table">
                    <% @goal.goal_comments.each do |comment| %>
                    <tbody>
                        <tr>
                           <td><%= attachment_image_tag comment.user, :profile_image, size: '45x45',fallback: "no-image.jpg",class: "user-icon" %></td>
                           <td><%= link_to comment.user.name,user_path(comment.user.id) %></td>
                           <td><%= comment.comment %></td>
                        <% if comment.user.id == current_user.id %>
                           <td><%= link_to "コメントを消す" ,goal_goal_comment_path(@goal.id,comment.id),method: :delete,"data-confirm" => "本当に削除しますか？",class: "btn-sm btn-warning" %></td>
                        <% end %>
                        </tr>
                    </tbody>
                    <% end %>
            </table>
            <%= form_for([@goal,@goal_comment]) do |f| %>
                    <% if @goal_comment.errors.any? %>
                    <div class="alert alert-warning">
                <ul>
                    <% @goal_comment.errors.full_messages.each do |message| %>
                        <li><%= message %>error</li>
                    <% end %>
                </ul>
                    </div>
                <% end %>
                <br>
                <%= f.text_area :comment, class:"form-control" %>
                <%= f.submit "送信" %>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $("input[type=checkbox]").click(function() {
            $.post('/goals/'+$(this).data('goal_id')+'/tasks/'+$(this).data('id')+'/toggle')
        })
    })
</script>
