<div class="coontainer">
    <div class="row">
        <div class="col-xs-12">
            <h1><%= @goal.content %></h1>

            <ul>
                <!-- projectに紐付くtaskがあるだけループする -->
                <% @goal.tasks.each do |task| %>
                <li>
                    <!-- taskのtitleを表示 -->
                    <%= task.title %>
                </li>
                <% end %>

                <!-- 新規タスク登録フォーム -->
                <li>
                    <%= form_for [@goal, @goal.tasks.build] do |f| %>
                    <%= f.text_field :title %>
                    <%= f.submit %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</div>