    <table class="table">
	   	<%= attachment_image_tag user, :profile_image, size: '50x50',fallback: "no-image.jpg",class: "user-icon" %>
        <tbody>
	        <tr>
	    	    <th>ログインユーザー</th>
	    	    <th><%= user.name %></th>
	        </tr>
		    <tr><th>フォロー</th>
	            <th><%= link_to user.followings.count,follows_user_path(user.id) %></th></tr>
	        <tr><th>フォロワー</th>
	            <th><%=  link_to user.followers.count,followers_user_path(user.id) %></th></tr>
        </tbody>
    </table>
<h3>新規目標投稿</h3>
	<%= form_for (goal) do |f| %>
	<% if goal.errors.any? %>
		<ul>
			<% goal.errors.full_messages.inspect %>
		</ul>
	<% end %>
		<div class="field">
		    <%= f.label :目標 %>
		    <%= f.text_field :content,placeholder: "挑戦、達成したいこと" %>
		</div>
		<div class="field">
			<%= f.label :期限 %>
			<%= f.date_select :term_at,use_month_numbers: true,start_year: 2020,end_year: 2021,include_blank: true,selected: Date.today %>
		</div>
		<%= f.submit "新しい目標を立てる！", class: "btn btn-primary" %>
	<% end %>
	<br>
<h3>トップページへ</h3>
	<%= link_to "NEXT_STAGE",root_path %>
<h3>NEXT_STAGE<br>
    (当サイト)について</h3>
	<%= link_to "NEXTSTAGE 概要",home_about_path %>
<h3>登録ユーザー</h3>
    <%= link_to "ユーザー一覧ページへ",users_path %>
